{% extends "layout.html" %}

{% block content %}

<div id="align">
<p id="download"> Récupérer le fichier généré précédemment : <br>
    <a href="static/data/sauvegardes/{{res}}multifasta.fasta"><button type="button"> Fasta Download</button></a>
</p>
<br></br>

    <center><h3> Effectuer l'alignement : </h3></center>
    <form action="/Alignement" method="POST">
        <td><b>&emsp;&emsp;&emsp;&emsp;1.</b> Choisir une méthode d'alignement :</td> <br>
        <br></br>

               <center> <select name="fAli" id="fAli">
                    <option>clustal_alignment</option>
                    <option>Muscle_alignement</option>

                </select>
                 </center>
<br></br>
<br></br>

<td>&emsp;&emsp;<b>&emsp;&emsp;2.</b> Choisir une méthode pour constuire l'arbre phylogénétique :</td>
<br></br>

<center>
                <select name="tree" id="tree">
                    <option>NJ_tree</option>
                    <option>ML_tree</option>

                </select>
            
            <br></br>
            <br></br>


            <br><input type="submit" value="Faire l'arbre" />
        </center>
    </form>
</div>

{#          <input type="text" class="Resultats" />#}
{#          <button type="button" class="tele2">Télécharger</button>#}
{#          <button type="button" class="fichier">Charger un fichier</button>#}
{#          <input type="text" class="copycoli" />#}
{#          <h3 class="cc">Copier-coller des séquences</h3>#}

{% endblock %}

