{% extends "layout.html" %}

{% block content %}
<br></br>
<br></br>
<p></p>
<div id="texte">
    <br></br>
    <p style="font-size: small; width: 80%;"><justify><i>Les gènes proposés ci-dessous ont tous été 
    récupérés sur la GenBank de NCBI et sont accessibles via leurs numéros d'accession.
    Tous ces gènes sont en rapport avec le venin de la vipère péliade et d'autres espèces de serpents.
    Ils ont été sélectionnés pour l'intérêt biologique qui pourrait découler de leur étude.</p>
    <br></br>
    <p> Obtenir les séquences : </i> </justify></p>

    <div class="container"><br>
        <form role="form" method="post">
            {% for geneid in idlist %}
                <input type="checkbox" name="choixGene" id={{ geneid }} value={{ geneid }}>
                <label for={{ geneid }}>{{ geneid }} </label> - <label for={{ namegene }}>{{ namegene[loop.index-1] }}</label><br>
            {% endfor %}
                <br></br>
            <button type="submit" name="submit" value="submit">Télécharger</button>
        </form>
    </div>
    <br></br>
    <br></br>
</div>

{% endblock %}
