{% extends "layout.html" %}

{% block content %}


   <!-- <img src="{{ url_for('static', filename='figure/Vipera.jpg') }}" id = "img2", width="500", height="350">    -->
<div id="infos_generales"><br></br>
   <br></br>
   <p>
       Vipera berus, la vipère péliade représentée dans la figure 1.11, 
        est une espèce de serpent venimeux dela famille desViperidae. 
        Son habitat se trouve en Europe et en Asie, dans les zones humides,
        les tourbièreset les forêts. Selon la zone dans laquelle se trouve l’individu, la coloration varie du gris, bleu-gris, marron,vert-brun au noir
    </p>
</div>
{% endblock %}
