<!-- DENET Lola, DESQUERRE Émilie, HUI Tongyuxuan, MEGUERDITCHIAN Caroline, NIU Wenli, PRATX Julie, VU Thao Uyen-->


{% extends "layout.html" %}

{% block content %}


   <!-- <img src="{{ url_for('static', filename='figure/Vipera.jpg') }}" id = "img2", width="500", height="350">    -->
<div id="infos_generales"><br></br>
    <br></br>
    <br></br>
    <center><h2>Informations générales</h2></center>
    <br></br>
        <div id="part1"> <br></br>
            <p>Nom Vernaculaire : Vipère péliade.<br>
            Nom Latin : <i>Vipéra Berus</i>, Linnaeus 1758.<br>
            Classe : Reptiles.<br>
            Ordre : Squamates.<br>
            Répartition géographique: Europe et Asie de l'est.<br>
            Status : Vulnérable à commune.<br></p>
        </div>
        <div id="part2"> <img src="{{ url_for('static', filename='figure/Vipera.jpg') }}", width="300", height="200">  
        </div>
        <br></br>
        <center><h2> Caractéristiques :</h2></center>
        <div id="part1"><br>
            <img src="{{ url_for('static', filename='figure/morpho.jpg') }}", width="300", height="200">  
            <br></br>
            <br>
            <h3>- Biologiques :</h3>
            <br</br>
            <p>La vipère péliade est un serpent solénoglyphe: c'est-à-dire qu'elle dispose d’un appareil venimeux
            perfectionné permettant d’injecter le venin profondément et sous pression, grâce à deux longs crochets creux, 
            mobiles, situés à l’avant du maxillaire. 
            <br</br>

            Le venin est produit dans des glandes situées de chaque côté de la tête, en dessous et derrière l’œil. 
            Le venin est un mélange complexe de protéines possédant des activités toxiques et enzymatiques. 
            La présence d’enzymes protéolytiques rend la morsure douloureuse et entraîne des lésions tissulaires, 
            des lésions des capillaires et des troubles de la coagulation. L’hyaluronidase facilite la dispersion 
            du venin dans les tissus sous-cutanés.
            <br</br>
            
            Chez l’homme, le venin apparaît dans le sang dans les 30 minutes qui suivent la morsure, sa demi-vie 
            est d’environ 8 heures.
            </p>
            <br>
            <h3>- habitat :</h3>
            <br</br>
            <p>
            
                La vipère péliade vit dans des milieux très variés, possédant toutefois des caractéristiques communes.
                Elle a besoin notamment de milieux ouverts, avec une végétation basse lui offrant de nombreuses cachettes.
                De part sa nature poïkilotherme, de grands espaces dégagées lui sont nécessaires afin qu’elle puisse se 
                réchauffer facilement au soleil. 

            </p>
        </div>
        <div id="part2"> 
            <h3>- Morphologique :</h3>
            <br</br>
            <p>La vipère péliade possède un corps relativement large et peut atteindre jusqu'à 60 cm à l'âge adulte. 
                La taille moyenne d'une vipère péliade est de <b>55 cm</b>, celle-ci varie suivant son habitat et sa localisation.
                Les spécimens les plus grands se trouvent en Scandinavie, en France la taille maximale est de 80 à 87 cm. 
                Sa masse varie de <b>50g</b> à <b>180g.</b></p>
            <br>
            <h3>- Comportement & Alimentation :</h3>
            <br>
            <p>De nature farouche, elle arrive facilement à éviter l'homme.  	
            La période d'activité de la vipère péliade diffère en fonction de l'altitude et du climat, de mars-mai à septembre-novembre. 
            Les accouplements commencent de mai à début juin. Ceux-ci étant précédés par des combats rituels entre mâles. Les six à 
            quatorze petits naissent (l'espèce étant ovovivipare) début septembre.
             <br></br>    
            La vipère se nourrit principalement de micromammifères tels que les campagnols, mulots ou encore musaraignes, ainsi que de petits lézards. De manière plus occasionnelle, elle peut consommer des belettes 
            ou encore des taupes. Pour chasser, la vipère péliade parcourt lentement son territoire à la recherche de proies, 
            elle chasse à l’affût. Elle repère d’abord sa proie, patiente quelque instant avant d’attaquer lorsque sa proie est
            à bonne distance. </p>
            </div>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <br></br>


    <center><h2>Phylogénie</h2></center>
    <br>
    <h3>- Taxonomie :</h3>
    <br>
    <center><img src="{{ url_for('static', filename='figure/taxo.png') }}", width="600", height="auto">  </center>
    <br>
    <h3>- Arbre phylogénétique (espèces):</h3>
    <br></br>
    <center><img src="{{ url_for('static', filename='figure/arbre_espece.png') }}", width="600", height="auto">  </center>
    <br></br>
   <p>Sur cet arbre, on retrouve 6 des espèces sentinelles présentées dans le projet  " les sentinelles du climat" :<br>
        - la rainette ibérique. <br>
        - la rainette verte.<br>
        - le lézard vivipare.<br>
        - la vipère péliade.<br>
        - l'azuré des mouillères.<br>
        - la leucorrhine à gros thorax.<br>
    </p>
</div>
{% endblock %}
