<!DOCTYPE html>
<html>
<head>
    <header><img src="{{ url_for('static', filename='figure/Les_sentinelles.png') }}", width="auto", height="auto" />
    <title>Les sentinelles de la Bioinfo.</title>
    <meta charset="UTF-8" />
    <meta name="description" content="website description" />
    <meta name="keywords" content="phylogeny tree" />
    <meta name="author" content="DENET Lola, DESQUERRE Émilie, HUI Tongyuxuan, MEGUERDITCHIAN Caroline, NIU Wenli, PRATX Julie, VU Thao Uyen" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <META HTTP-EQUIV="Expires" CONTENT="0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/site.css') }}" />
</head>

<body>
    
    <div class="fond">
    <div id="topMenu">
        <ul id="menu">
            <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
            <li {% if selectedMenu=="Accueil" %} class="selected" {% endif %}>
                <a href="/">Accueil</a></li>
                
            <li {% if selectedMenu=="Infos" %} class="selected" {% endif %}>
            <a href="/infos">Infos générales</a></li>
    
            <li {% if selectedMenu=="Base de données" %} class="selected" {% endif %}>
                <a href="/bdd">Séquences</a></li>

           <li {% if selectedMenu=="Alignement" %} class="selected" {% endif %}><br>
                Alignement</li>
{##}
            <li {% if selectedMenu=="Phylogénie" %} class="selected" {% endif %}><br>
                Phylogénie</li>
        </ul>
    </div>
    </div>
    
    <div id="site_content">

        <div id="content">
        {%block content %}{% endblock %}
        </div>
    </div>

    <br></br>
    <br></br>
<footer><center>contact : &emsp; sentinelles.bioinfo@gmail.com</center></footer>
</body>
</html>