<!-- DENET Lola, DESQUERRE Émilie, HUI Tongyuxuan, MEGUERDITCHIAN Caroline, NIU Wenli, PRATX Julie, VU Thao Uyen-->

{% extends "layout.html" %}

{% block content %}

<div id ="affiche">
    <br></br>
    <br></br>
    <p id="download"> Récupérer le fichier d'alignement généré précédemment : <br>
        <a href="static/data/sauvegardes/{{res}}obtenu.fasta"><button type="button"> Télécharger Alignement </button></a>
    </p>
    <br></br>
    
    <h3 class="tree">Affichage de l'arbre:</h3></p>
    <br></br>
  
    <img src="{{ url_for('static', filename='static/data/sauvegardes/'+res+'tree.png') }}?v2" id="img1", width="500", height="350">
    
</p>
<br></br>
<br></br>
<center><p id="download"> Récupérer l'arbre généré : <br>
    <a href="static/data/sauvegardes/{{res}}tree.txt"><button type="button">  Télécharger Newick</button></a>
</p>
</center>
</div>

{% endblock %}
